In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [158]:
 pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [159]:
import requests 
import urllib.request

In [160]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [161]:
page = urllib.request.urlopen(url)

In [162]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page, "lxml")

In [163]:
all_tables=soup.find_all("table")

In [164]:
right_table = soup.find('table', {"class":'wikitable sortable'})

In [165]:
A=[]
B=[]
C=[]


for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [186]:

df=pd.DataFrame(A,columns=['Postal Code'])
df['Borough']=B
df['Neighbourhood']=C
df

,Postal Code,Borough,Neighbourhood
0,M1A\n,Not assigned\n,Not assigned\n
1,M2A\n,Not assigned\n,Not assigned\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
...,...,...,...
175,M5Z\n,Not assigned\n,Not assigned\n
176,M6Z\n,Not assigned\n,Not assigned\n
177,M7Z\n,Not assigned\n,Not assigned\n
178,M8Z\n,Etobicoke\n,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z\n,Not assigned\n,Not assigned\n

In [187]:
#removing \n from the table


df.replace(r'\s','',regex = True, inplace = True)
df

,Postal Code,Borough,Neighbourhood
0,M1A,Notassigned,Notassigned
1,M2A,Notassigned,Notassigned
2,M3A,NorthYork,Parkwoods
3,M4A,NorthYork,VictoriaVillage
4,M5A,DowntownToronto,"RegentPark,Harbourfront"
...,...,...,...
175,M5Z,Notassigned,Notassigned
176,M6Z,Notassigned,Notassigned
177,M7Z,Notassigned,Notassigned
178,M8Z,Etobicoke,"MimicoNW,TheQueenswayWest,SouthofBloor,Kingswa..."
179,M9Z,Notassigned,Notassigned

In [188]:
# removing unassigned boroughs

df = df[df.Borough !='Notassigned']
df

,Postal Code,Borough,Neighbourhood
2,M3A,NorthYork,Parkwoods
3,M4A,NorthYork,VictoriaVillage
4,M5A,DowntownToronto,"RegentPark,Harbourfront"
5,M6A,NorthYork,"LawrenceManor,LawrenceHeights"
6,M7A,DowntownToronto,"Queen'sPark,OntarioProvincialGovernment"
...,...,...,...
160,M8X,Etobicoke,"TheKingsway,MontgomeryRoad,OldMillNorth"
165,M4Y,DowntownToronto,ChurchandWellesley
168,M7Y,EastToronto,"BusinessreplymailProcessingCentre,SouthCentral..."
169,M8Y,Etobicoke,"OldMillSouth,King'sMillPark,Sunnylea,HumberBay..."
178,M8Z,Etobicoke,"MimicoNW,TheQueenswayWest,SouthofBloor,Kingswa..."

In [189]:
#combining rows with same postal code

df.groupby('Postal Code', as_index=False).agg({'Borough': 'first','Neighbourhood' : ' '.join})

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern,Rouge"
1,M1C,Scarborough,"RougeHill,PortUnion,HighlandCreek"
2,M1E,Scarborough,"Guildwood,Morningside,WestHill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"KingsviewVillage,St.Phillips,MartinGroveGarden..."
101,M9V,Etobicoke,"SouthSteeles,Silverstone,Humbergate,Jamestown,..."
102,M9W,Etobicoke,"Northwest,WestHumber-Clairville"

In [190]:
# assigning not assigned Neighbourhoods as Boroughs

df.loc[df.Neighbourhood == "Notassigned", "Borough"]
df

,Postal Code,Borough,Neighbourhood
2,M3A,NorthYork,Parkwoods
3,M4A,NorthYork,VictoriaVillage
4,M5A,DowntownToronto,"RegentPark,Harbourfront"
5,M6A,NorthYork,"LawrenceManor,LawrenceHeights"
6,M7A,DowntownToronto,"Queen'sPark,OntarioProvincialGovernment"
...,...,...,...
160,M8X,Etobicoke,"TheKingsway,MontgomeryRoad,OldMillNorth"
165,M4Y,DowntownToronto,ChurchandWellesley
168,M7Y,EastToronto,"BusinessreplymailProcessingCentre,SouthCentral..."
169,M8Y,Etobicoke,"OldMillSouth,King'sMillPark,Sunnylea,HumberBay..."
178,M8Z,Etobicoke,"MimicoNW,TheQueenswayWest,SouthofBloor,Kingswa..."

In [191]:
# number of rows in the dataframe

df.shape

(103, 3)

In [192]:
df1 = pd.read_csv('http://cocl.us/Geospatial_data')

df1

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [193]:
pd.merge(df,df1[['Postal Code','Latitude', 'Longitude']],
                 on='Postal Code')

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,NorthYork,Parkwoods,43.753259,-79.329656
1,M4A,NorthYork,VictoriaVillage,43.725882,-79.315572
2,M5A,DowntownToronto,"RegentPark,Harbourfront",43.654260,-79.360636
3,M6A,NorthYork,"LawrenceManor,LawrenceHeights",43.718518,-79.464763
4,M7A,DowntownToronto,"Queen'sPark,OntarioProvincialGovernment",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"TheKingsway,MontgomeryRoad,OldMillNorth",43.653654,-79.506944
99,M4Y,DowntownToronto,ChurchandWellesley,43.665860,-79.383160
100,M7Y,EastToronto,"BusinessreplymailProcessingCentre,SouthCentral...",43.662744,-79.321558
101,M8Y,Etobicoke,"OldMillSouth,King'sMillPark,Sunnylea,HumberBay...",43.636258,-79.498509
102,M8Z,Etobicoke,"MimicoNW,TheQueenswayWest,SouthofBloor,Kingswa...",43.628841,-79.520999